<h1>Expense/Earning</h1>
<input readonly value="{{ amountTotal }}">
<input name="amount" [(ngModel)]="amount">

<select name="direction" [(ngModel)]="direction">
    <option value="">-- Please choose --</option>
    <option *ngFor="let key of keys" value="{{ key }}">{{ directions[key] }}</option>
  <option value="personal">Personal</option>
  <option value="bills">Bills</option>
  <option value="home">Home</option>
</select>
<p>Direction: {{direction}}</p>
<div class="buttons">
  <a (click)="add()">(+) EARNED</a>
  <a (click)="sub()">(-) SPENT</a>
</div>